<div class="faction_link">

    <div>
        <a href="/rankings">
            Toutes
        </a>
    </div>
    
    <% for(const faction of factions) { %>
        
        <div>
            <a href="<%=`/rankings/faction/${faction.name}`%>" >
            <%= faction.name %>
            </a>
        </div>
    <% } %>

</div>