<div class="left_menu">

    <a href="/">HomePage</a>
    <a href="/players">Liste des Joueurs</a>
    <a href="/rankings">Rankings</a>
    <a href="/tournaments">Tournois</a>
    <a href="/games">Rencontres</a>
    
</div>