.faction_link {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.ranking_section {
    padding-left: 10vh;
}

/* Tableau des rankings */
.ranking_table {
    border: 1px solid black;
}

.ranking_table a {
    color: black;
    text-decoration: none;
}

.ranking_table a:hover {
    font-weight: bold;
    color: black;
}

.ranking_table th {
    height: 1.6rem;
    border-bottom: 1px solid black;
}

.ranking_table tr {
    height: 1.6rem;
}

#ranking_rank {
    width: 1.5rem;
}

#ranking_pseudo {
    min-width: 25vh;
}

#ranking_faction {
    min-width: 15vh;
}

#ranking_value {
    min-width: 10vh;
}

table {
    border: 1px solid black;
}

.games-player img {
    height: 20px;
}