
<%- include('partials/header'); %>

<body>
    <main>

        <%- include('partials/leftMenu'); %>

        <h1>Les Archives de la Citadelle</h1>
        
        <h2>Test accents : é è ç à</h2>
        
    </main>
</body>
</html>